{{ partial "header.html" . }}

<div class="container home">


    <section id="page-title">
        <h1><a href="/">{{ .Site.Title | default "Basics"}}</a></h1>
    </section>
    {{ range $index, $element := (.Pages.ByPublishDate.Reverse) }}

    <article id="article">
        <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <div class="date-time-title">{{ .Date.Format "Monday, January 2, 2006" }}</div>
        <div class="description">{{ .Description }}</div>
        {{ if eq (add $index 1) 1 }}
        {{ .Summary }}
        {{ end }}
    </article>
    {{ end }}
</div>

{{ partial "footer.html" . }}